.looksContainer {
  /* margin-left: 2%; */
  padding: 0 5%;
  height: 600px;
  width: 350px;
}
.looksDiv  {
  margin-bottom: 15px;
  padding: 0 5%;
  position: relative;
}

.looks {
  font-weight: 700;
  padding-right: 25px;
}

.moreLooks {
  font-size: 15px;
  color: #393939;
}

.image1 {
  margin-top: 15%;
  padding-left: 3%;
}

