.carouselWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dressModal {
  visibility: hidden;
}

.dressModaltrue {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: pink;
  text-align: right;
}

.dressImage {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  margin-top: 50%;
  bottom: 50%;
}

.backButton {
  visibility: hidden;
}

.backButtontrue {
  position: absolute;
  top: 50%;
  left: 0px;
}

.forwardButton {
  visibility: hidden;
}

.forwardButtontrue {
  position: absolute;
  right: 0px;
  top: 50%;
}

.svgForwardButton {
  transform: rotate(180deg);
}

.dressPrice {
  text-align: center;
  font-weight: 700;
}