@font-face {
  font-family: 'Brandon Text';
  src: url(../../dist/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.componentContainerfalse {
  display: none;
}

.componentContainertrue{
  display: inline-block;
  font-family: 'Brandon Text';
}


.componentWrapper {
  display: flex;
  flex-direction: row;
  color: #393939;
}

.image {
  margin-top: 20%;
  margin-left: 20%;
}

.secondComponent {
  width: 600px;
  padding-left: 15%;
  padding-top: 10%;
  padding-right: 10%;
  position: static;
}

.productName {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 2%;
  max-width: 330px;
}


.designer {
  color: #393939;
  font-size: 13px;
  border-bottom: 2px solid white;  
}

.designer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price {
  margin-top: 5%;
  margin-right: 4%;
  font-weight: 700;
  font-size: 15px;
}

.shipping{
  padding-left: 20px;
  font-weight: 200;
  font-size: 13px;
}

.description {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 350px;
  font-size: 13px;
  max-width: 330px;
}

.addToBag {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 12px 125px;
}

.addToBag:hover {
  background: #333;
}

.detailsContainer {
  width: 350px;
  text-align: center;
  padding-top: 5%;
  font-size: 13px;
}