@font-face {
    font-family: 'Brandon Text';
    src: url(../../dist/brandon-text.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

.componentContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-family: 'Brandon Text';
}

.box {
    border: 1px solid #e3e3e3;
    padding: 15px;
    height: 730px;
    width: 430px;
    margin-bottom: 10%;
    
}

.modernOfficeWrapper {
    text-align: center;
    color: #393939;
}

.modernOfficeDiv {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 17px;
}

.nordstromLink {
    text-align: center;
    color: #393939;
    font-size: 13px;
}
a:visited {
    color: #393939;
}

.line {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #e3e3e3;
    /* margin: 1em 0;  */
    padding: 0;
}

.gridContainer {
    display: inline-grid;
    grid-template-columns: 27.5% 45% 27.5%;
    justify-content: space-around;
}

.earringItem {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
}

.braceletItem {
    margin-top: 40px;
    font-size: 13px;
}

.dressItem {
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 13px;
}

.purseItem {
    margin-top: 50px;
    font-size: 13px;
}


.shoeItem {
    margin-top: 80px;
    margin-bottom: 20%;
    font-size: 13px;
}

.svgHeart {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 10px;
    color: #393939;
}

.randomLikes {
    padding-left: 60%;
    color: #393939;
    font-size: 13px;
}

.designerName {
    margin-top: 10%;
    text-align: center;
    color: #393939;
    font-size: 14px;
}

.secondComponentfalse {
    /* text-align: center; */
    flex-basis: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex: 2;
}

