.componentContainerfalse {
  display: none;
}

.componentContainertrue{
  display: inline-block;
}

.componentWrapper {
  display: flex;
  flex-direction: row;
  color: #393939;
}

.image {
  margin-top: 20%;
  padding-left: 20%;
}

.secondComponent {
  width: 600px;
  padding-left: 10%;
  padding-top: 10%;
  position: relative;
}

.productName {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 2%;
  max-width: 300px;
}


.designer {
  color: #393939;
  font-size: 13px;
}

.designer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price {
  margin-top: 5%;
  margin-right: 4%;
  font-weight: 700;
  font-size: 15px;
  /* margin-bottom: 20%; */
}

.shipping{
  padding-left: 20px;
  font-weight: 200;
  font-size: 13px;
}

.description {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 13px;
  max-width: 320px;
}

.addToBag {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 12px 125px;
}

.addToBag:hover {
  background: #333;
}

.detailsContainer {
  width: 350px;
  text-align: center;
  padding-top: 5%;
  font-size: 13px;
}