.componentContainerfalse {
  display: none;
}

.componentContainertrue {
  display: block;
}

.componentWrapper {
  display: flex;
  flex-direction: row;
  color: #393939;
}

.image{
  margin-top: 30%;
  padding-left: 20%;
  
}

.secondComponent {
  width: 330px;
  padding-left: 36%;
  padding-top: 5%;
  position: absolute;
}

.star {
  margin-top: 60%;
  margin-bottom: 2%;
}

.randomLikes {
  font-size: 13px;
}

.productName {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 2%;
}


.designer {
  color: #393939;
  font-size: 13px;
}

.designer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price {
  margin-top: 15%;
  margin-right: 4%;
  font-weight: 700;
  font-size: 15px;
}

.description {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 13px;
}

.sizeContainer {
  margin-bottom: 10px;
  position: relative;
}

.size {
  background: url("../../dist/svgcarrot.svg") no-repeat 96%;
  border: 1px solid #e3e3e3;
  height: 45px;
  width: 330px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 14px 14px 11px 14px;
  position: relative;
}

.size:hover .bottomBorder {
  display: block;
}

.bottomBorder { 
  width: 100%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  border-bottom: 3px solid;
  left: 0;
  border-bottom-color: #e3e3e3;
  display: none;
}

.optiontags {
  display: none;
}

.optiontagstrue{
  display: inline-block;
  /* margin-bottom: 15%; */
  font-size: 13px;
  box-shadow: 0 0 3px #e3e3e3;
  top: -53px;
  position: relative;
  background-color: #fff;
  width: 330px;
} 
.optionstagfalse {
  display: none;
}

.chooseSizeContainer {
  font-weight: 700;
  margin-top: 20px;
}

.chooseSizeContainerfalse {
  display: none;
}

.chooseSize {
  margin-left: 10px;
}

.trueToSize {
  border-bottom: 3px solid;
  border-bottom-color: #e3e3e3;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.trueToSizefalse{
  display: none;
}

.availableSizesContainer {
  margin-bottom: 10px;
  max-height: 166px;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e3e3e3;
}

.availableSizesContainerfalse {
  display: none;
}

.availableSizes:hover .sizeBottomBorder {
  display: block;
}


.availableSizes {
  height: 45px;
  width: 290px;
  border-bottom: 1px solid #e3e3e3;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.sizeGuide {
  margin-bottom: 10px;
  font-size: 13px;
  padding-left:260px;
  padding-bottom:10px;
  text-decoration:underline;

}

.addToBag {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 12px 1px;
  font-size: 13px;
  text-align: center;
  position: static;
}

.addToBag:hover {
  background-color: #333;
}

.detailsContainer {
  text-align: center;
  padding-top: 15%;
  margin-bottom: 10%;
  font-size: 13px;
}

.details {
  text-align: center;
  position: relative;
}
